:root {
    color-scheme: light dark;
    scroll-behavior: smooth;
    border-top: 2px solid var(--theme);
    border-bottom: 2px solid var(--theme);
}

@media (prefers-color-scheme: light) {
    * {
        --theme: rgb(16 16 128);
        --theme-darker: rgb(8 8 64);
        --back: rgb(200 200 200);
        --on-back: rgb(16 16 16);
        --alt-back: rgb(212 212 212);
        --hover: rgb(225 225 225);
    }
}

@media (prefers-color-scheme: dark) {
    * {
        --theme: rgb(255 128 32);
        --theme-darker: rgb(128 64 16);
        --back: rgb(32 32 32);
        --on-back: rgb(225 225 225);
        --alt-back: rgb(24 24 24);
        --hover: rgb(16 16 16);
    }
}

body {
    background-color: var(--back);
    color: var(--on-back);
    font-family: Verdana, serif;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    margin: 50px 25px;
}

*::selection {
    background: var(--theme);
    color: rgba(0, 0, 0, 90%);
}

a:link {
    color: var(--theme);
}

a:visited {
    color: var(--theme-darker);
}

h2 span, h3 span, h4 span, h5 span, h6 span {
    color: var(--theme);
    background-color: var(--alt-back);
    transition: background-color 0.5s ease-out;

    --notch-size: 10px;
    clip-path: polygon(
            0% var(--notch-size),
            var(--notch-size) 0%,
            calc(100% - var(--notch-size)) 0%,
            100% var(--notch-size),
            100% calc(100% - var(--notch-size)),
            calc(100% - var(--notch-size)) 100%,
            var(--notch-size) 100%,
            0% calc(100% - var(--notch-size))
    );
    padding: 15px 35px;
    text-align: center;
}

td, th {
    padding: 10px;
    border-bottom: var(--alt-back) solid 5px;
}

td:nth-child(2), th:nth-child(2) {
    border-left: var(--alt-back) solid 5px;
}

tr:last-child td {
    border-bottom: none;
}

h2 span:hover, h3 span:hover, h4 span:hover, h5 span:hover, h6 span:hover {
    background-color: var(--hover);
}

li {
    line-height: 2em;
}

*::marker {
    color: var(--theme);
}

nav {
    padding: 10px;
    display: flex;
    justify-content: center;
}

ul.vertical-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.vertical-list-item {
    display: inline-block;
    padding: 5px 30px;
    margin-bottom: 5px;
    background: var(--alt-back);
}

.title {
    margin-top: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.justify-text {
    text-align: justify;
}

.no-bullet-list {
    list-style-type: none;
    padding-left: 0;
}

.cut-corner {
    --notch-size: 10px;
    clip-path: polygon(
            0% var(--notch-size),
            var(--notch-size) 0%,
            calc(100% - var(--notch-size)) 0%,
            100% var(--notch-size),
            100% calc(100% - var(--notch-size)),
            calc(100% - var(--notch-size)) 100%,
            var(--notch-size) 100%,
            0% calc(100% - var(--notch-size))
    );
}
