/* General */
body {
    font-family: Heebo, serif;
    align-content: center;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    margin: 50px;
}

h1, h2, h3, h4, h5, h6 {
    transition: background-color 0.5s ease-out;
    --notchSize: 25px;
    clip-path: polygon(
            0% var(--notchSize),
            var(--notchSize) 0%,
            calc(100% - var(--notchSize)) 0%,
            100% var(--notchSize),
            100% calc(100% - var(--notchSize)),
            calc(100% - var(--notchSize)) 100%,
            var(--notchSize) 100%,
            0% calc(100% - var(--notchSize))
    );
    padding: 25px;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    background-color: rgba(255, 255, 128, 0.1);
}

li {
    line-height: 2em;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: rgb(220, 220, 220);
        color: rgba(0, 0, 0, 0.9);
    }

    *::selection {
        background: rgba(255, 255, 128, 0.9);
        color: rgba(0, 0, 0, 0.9);
    }


    h1, h2, h3, h4, h5, h6 {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .hide_if_light {
        display: none;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: rgba(0, 0, 0, 0.9);
        color: rgba(255, 255, 255, 0.9);
    }

    h1, h2, h3, h4, h5, h6 {
        background-color: rgba(255, 255, 255, 0.05);
    }

    *::selection {
        background: rgba(255, 255, 128, 0.9);
        color: rgba(0, 0, 0, 0.9);
    }

    a:link {
        color: rgba(255, 255, 128, 0.9);
    }

    a:visited {
        color: rgba(256, 192, 128, 0.9);
    }

    .hide_if_dark {
        display: none;
    }
}

.center-text {
    text-align: center;
}

.justify-text {
    text-align: justify;
}